@model AuthUsingCookies.ViewModels.AccountRegisterViewModel
@{
	ViewData["Title"] = "Register";
}

<form method="post" asp-action="Register">
	<div class="row mt-5">
		<div class="col-md-6 offset-md-3">
			<div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
			<div class="form-group">
				<label asp-for="@Model.Username"></label>
				<input asp-for="@Model.Username" class="form-control" />
				<span asp-validation-for="@Model.Username" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.Email"></label>
				<input asp-for="@Model.Email" class="form-control" />
				<span asp-validation-for="@Model.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.Password"></label>
				<input asp-for="@Model.Password" type="password" class="form-control" />
				<span asp-validation-for="@Model.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.PasswordConfirmation"></label>
				<input asp-for="@Model.PasswordConfirmation" type="password" class="form-control" />
				<span asp-validation-for="@Model.PasswordConfirmation" class="text-danger"></span>
			</div>
			<button class="btn btn-primary px-4 my-3">Register</button>
		</div>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}